/*General CSS*/
html,
body,
header {
  color: #4a4a4a;
  max-width: 1360px;
  margin: auto;
}
/*Desktop View*/

/*Nav-Bar CSS*/
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

.top-bar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 24px;
}

.top-bar-desktop a {
  text-decoration: none;
  color: #4a4a4a;
  text-align: center;
}

.top-bar-desktop a img {
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  margin: auto;
}

.top-bar-desktop .dark {
  font-weight: bold;
}

.top-bar-desktop .light {
  color: #e3e3e3;
}

.top-bar-desktop ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  vertical-align: bottom;
}

.top-bar-desktop li {
  padding-left: 16px;
}

.top-bar-mobile {
  display: none;
}

/*Box 1 CSS*/
.box1-desktop {
  background-color: #d8d8d8;
  position: relative;
  top: 64px;
  align-items: center;
  display: flex;
}

.box1-banner-desktop {
  height: auto;
  width: 60%;
  margin: 32px 24px;
  display: inline-block;
}

.box1-banner-desktop img {
  height: auto;
  width: 100%;
}

.box1-textbox-desktop {
  width: 40%;
  display: inline-block;
  color: #4a4a4a;
  margin: 32px 24px;
}

.box1-textbox-desktop h2 {
  font-size: 60px;
  margin: 0;
}

.box1-textbox-desktop h4 {
  font-size: 30px;
}

.button-desktop {
  font-size: 24px;
  background-color: #4a4a4a;
  color: white;
  padding: 8px 150px;
  cursor: pointer;
}

/*Box 2 CSS*/
.box2-desktop {
  background-color: white;
  position: relative;
  top: 64px;
  height: auto;
  display: flex;
}

.box2-subbox1-desktop {
  height: auto;
  width: 60%;
  margin: 32px 24px;
  display: inline-block;
  vertical-align: middle;
}

.box2-subbox1-desktop img {
  height: auto;
  width: 100%;
}

.box2-subbox1-desktop h2 {
  font-size: 45px;
  margin-top: 32px;
  margin-bottom: 0;
}

.box2-subbox1-desktop h5 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 0;
}

.box2-subbox1-desktop h6 {
  font-size: 16px;
  padding: 32px 0;
  margin: 0;
}

.box2-subbox2-desktop {
  height: auto;
  width: 40%;
  margin: 32px 0 32px 24px;
}

.box2-subbox2-newsbox-desktop {
  height: auto;
  width: 100%;
  margin: 15px;
  align-items: center;
  display: flex;
  transition-property: background-color;
}

.box2-subbox2-newsbox-desktop:hover {
  background-color: #d8d8d8;
}

.box2-subbox2-newsbox-desktop .newsbox-img {
  display: inline-block;
  width: 35%;
  height: auto;
}

.box2-subbox2-newsbox-desktop .newsbox-img img {
  width: 100%;
  max-height: auto;
}

.box2-subbox2-newsbox-desktop .newsbox-txt {
  display: inline-block;
  width: 65%;
  height: auto;
}

.desc1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

.desc2 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.desc3 {
  text-decoration: none;
  color: #5cbfde;
  font-size: 15px;
  margin-left: 20px;
}

/*Box 3 CSS*/
.box3.desktop {
  background-color: #d8d8d8;
  position: relative;
  top: 64px;
  align-items: center;
  padding: 0 72px;
}

.box3-header.desktop {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-top: 32px;
}

.box3-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box3-course {
  width: 30%;
  padding: 32px 16px;
}

.box3-course img {
  width: 100%;
}

.box3-course .course-header {
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 16px;
}

.box3-course .course-desc {
  background-color: white;
  font-size: 20px;
  padding-left: 16px;
  padding-bottom: 16px;
}

/*Box 4 CSS*/
.box4.desktop {
  background-color: white;
  position: relative;
  top: 64px;
  padding-bottom: 32px;
}

.box4-header.desktop {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.box4-content.desktop {
  width: 100%;
  height: auto;
  display: flex;
}

.box4-subbox1.desktop {
  width: 60%;
  height: auto;
  padding-left: 24px;
}

.box4-video.desktop {
  width: 100%;
  padding-right: 24px;
  padding-bottom: 24px;
}

.box4-subbox1.desktop video {
  width: 100%;
}

.box4-subbox1-headertext.desktop {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  padding: 8px;
}

.box4-subbox1-text.desktop {
  width: 100%;
  font-size: 20px;
  padding: 8px;
}

.box4-subbox2.desktop {
  width: 40%;
  height: auto;
  background-color: white;

  padding-left: 24px;
}

.box4-exhibit.desktop {
  width: 100%;
  display: flex;
  align-items: center;
  transition-property: background-color;
}

.box4-exhibit.desktop:hover {
  background-color: #d8d8d8;
}

.box4-exhibit-img.desktop {
  width: 35%;
}

.box4-exhibit.desktop img {
  width: 100%;
  padding: 16px;
}

.box4-exhibit-textbox.desktop {
  width: 65%;
  padding-left: 32px;
}

.box4-exhibit-header.desktop {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 8px;
}

.box4-exhibit-text.desktop {
  width: 100%;
  font-size: 20px;
  padding-top: 8px;
}

/*Footer CSS*/
.footerbox.desktop {
  background-color: white;
  position: relative;
  top: 64px;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 1px solid silver;
}

.copyright.desktop {
  width: 80%;
  display: inline-block;
}

.footer-right.desktop {
  width: 18%;
  display: inline-block;
}

.footer-link.desktop {
  width: 48%;
  display: inline-block;
  justify-content: end;
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .box1-mobile {
    display: none;
  }

  .box2-mobile {
    display: none;
  }

  .box3.mobile {
    display: none;
  }

  .box4.mobile {
    display: none;
  }

  .footerbox.mobile {
    display: none;
  }
}

/*Mobile View*/

@media only screen and (max-width: 600px) {
  /*Nav-Bar CSS*/
  .footerbox.desktop {
    display: none;
  }

  .box4.desktop {
    display: none;
  }

  .box3 .desktop {
    display: none;
  }

  header .top-bar-desktop {
    display: none;
  }

  header .top-bar-mobile {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .top-bar-mobile {
  }

  header .top-bar-mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
    vertical-align: bottom;
  }

  header .top-bar-mobile li {
    padding: 0;
  }

  /*Box 1 CSS*/
  .box1-desktop {
    display: none;
  }

  .box1-mobile {
    background-color: #d8d8d8;
    position: relative;
    top: 64px;
    align-items: center;
    max-height: 800px;
  }

  .box1-banner-mobile {
    height: 400px;
    max-width: auto;
    margin: 0;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .box1-textbox-mobile {
    max-width: 600px;
    color: #4a4a4a;
  }

  .box1-textbox-mobile h2 {
    font-size: 60px;
    margin: 32px auto 32px 16px;
  }

  .box1-textbox-mobile h4 {
    font-size: 32px;
    margin: 0 auto 0 16px;
  }

  .button-mobile {
    margin: 24px 20px 32px 20px;
    font-size: 20px;
    background-color: #9b9b9b;
    color: white;
    padding: 8px 200px;
    cursor: pointer;
    border: none;
  }

  /*Box2 CSS*/
  .box2-desktop {
    display: none;
  }

  .box2-mobile {
    position: relative;
    top: 64px;
    height: auto;
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .box2-newsbox-mobile {
    height: auto;
    width: 94%;
    margin: 24px 16px;
    align-items: center;
    transition-property: background-color;
  }

  .box2-newsbox-mobile:hover {
    background-color: #d8d8d8;
  }

  .box2-newsbox-mobile .newsbox-img {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
  }

  .box2-newsbox-mobile .newsbox-img img {
    width: 100%;
    margin: 0;
  }

  .box2-newsbox-mobile .newsbox-txt {
    width: 100%;
    height: auto;
    margin-top: 16px;
  }

  /*Box 3 CSS*/
  .box3.mobile {
    background-color: white;
    position: relative;
    top: 64px;
    width: 100%;
    padding-bottom: 32px;
  }

  .box3-header.mobile {
    background-color: white;
    color: #4a4a4a;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 32px 0;
  }

  .box3-courseheader.mobile {
    text-align: left;
    background-color: #d8d8d8;
    color: #4a4a4a;
    font-size: 32px;
    font-weight: 700;
    border: 1px solid white;
    width: 100%;
    padding: 32px 0 32px 32px;
  }

  /*Box 4 CSS*/
  .box4.mobile {
    background-color: white;
    position: relative;
    top: 64px;
    width: 100%;
    padding-bottom: 32px;
  }

  .box4-header.mobile {
    background-color: white;
    color: #4a4a4a;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 32px 0 16px 0;
  }

  .box4-video.mobile {
    width: 100%;
    padding-bottom: 24px;
  }

  .box4-video.mobile video {
    width: 100%;
  }

  /*Footer CSS*/
  .footerbox.mobile {
    background-color: white;
    position: relative;
    top: 64px;
    width: 100%;
    font-size: 20px;
    padding: 16px;
  }
}
